[submodule "pack/pack/FTerm/opt/FTerm.nvim"]
	path = pack/pack/FTerm/opt/FTerm.nvim
	url = https://github.com/numToStr/FTerm.nvim.git
[submodule "pack/FTerm/opt/FTerm.nvim"]
	path = pack/FTerm/opt/FTerm.nvim
	url = https://github.com/numToStr/FTerm.nvim.git
[submodule "pack/lsp/opt/nvim-lspconfig"]
	path = pack/lsp/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/telescope/opt/plenary.nvim"]
	path = pack/telescope/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/telescope/opt/telescope.nvim"]
	path = pack/telescope/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
